<!-- <!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="./css/style (1).css">
  <style>
	.card {
	  box-shadow: 0 4px 8px 0 rgba(182, 46, 46, 0.2);
	  transition: 0.3s;
	  width: 400px;
	  height: 200px;
	  border-radius: 5px;
	  box-sizing: border-box;
	  margin-right: 3rem;
	  background-color: rgb(217, 200, 238);
	}
	
	.card:hover {
	  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}
	
	</style>

</head>
<body> -->
<!-- partial:index.partial.html -->
<!-- <!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="card">
		<input type="checkbox" id="chk" aria-hidden="true">
			<div class="signup">
                <h1>Login as Mentor</h1>
				<form action="" method="GET">
					<button>Login</button>
				</form>
		</div>
	</div>
	<div class="card">
		<input type="checkbox" id="chk" aria-hidden="true">
			<div class="signup">
				<form  method="GET">
                    <h1>Login as Mentee</h1>
					<button>Login</button>
				</form>
		</div>
	</div>
</div>

</body>
</html> -->
<!-- partial -->
  
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=<!DOCTYPE html>
	<html>
	
	<head>
	  <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	  <title>Card</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	  <style>
		a {
  text-decoration: none;
}
body {
  background: -webkit-linear-gradient(bottom, #ded6f8, #ded6f8);
  background-repeat: no-repeat;
}
label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}
#forgot-pass {
  color: #2dbd6e;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}
#card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 8rem auto 8rem auto;
 
  width: 329px;
}
#card-content {
  padding: 12px 44px;
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#signup {
  color: #2dbd6e;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}
#submit-btn {
  background: -webkit-linear-gradient(right, #573b8a, #573b8a);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #573b8a;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}
#submit-btn:hover {
  box-shadow: 0px 1px 18px #24c64f;
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
/* .form-border {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 1px;
  width: 100%;
} */
/* .form-content {
  background: #d40f0f;
  border: none;
  outline: none;
  padding-top: 14px;
} */
.underline-title {
  background: -webkit-linear-gradient(right, #ded6f8, #ded6f8);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.container {
	height:697px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

	  </style>
	</head>
	
	<body>

		<div class="container"> 
	  <div id="card">
		<div id="card-content">
		  <div id="card-title">
			<h2>LOGIN AS MENTOR</h2>
			<div class="underline-title"></div>
		  </div>
		  <form action="/signin-mentor" method="get" class="form">
			<img src="./images/image.png">
			<input id="submit-btn" type="submit" name="submit" value="LOGIN" />
		  </form>
		</div>
	  </div>
	  <div id="card">
		<div id="card-content">
		  <div id="card-title">
			<h2>LOGIN AS MENTEE</h2>
			<div class="underline-title"></div>
		  </div>
		  <form action="/signin-mentee" method="get" class="form">
			<img src="./images/image.png">
			<input id="submit-btn" type="submit" name="submit" value="LOGIN" />
		  </form>
		</div>
	  </div>
	</div>
	</body>
	

	<!-- <title>Document</title> -->
</head>
<body>
	
</body>
</html>